PORT=3001
MONGODB_URI=mongodb+srv://wotbmadgamesexe_db_user:XExXtlv9Mq5yg4ho@cluster0.rqhvhge.mongodb.net/
JWT_SECRET=1kzBgYzI06xjdLSKPAxUKyra57TPfS5siTYnAnlDrKX
ADMIN_PASSWORD=0409
DASHA_PASSWORD=0409
CLIENT_URL=http://localhost:5173
START_DATE=2026-05-25
UNLOCK_ALL_DAYS=false
