PORT=3001
MONGODB_URI=mongodb+srv://wotbmadgamesexe_db_user:XExXtlv9Mq5yg4ho@cluster0.rqhvhge.mongodb.net/
# MONGODB_URI=mongodb+srv://wotbmadgamesexe_db_user:XExXtlv9Mq5yg4ho@cluster0.rqhvhge.mongodb.net/dasha-moscow
JWT_SECRET=1kzBgYzI06xjdLSKPAxUKyra57TPfS5siTYnAnlDrKX
ADMIN_PASSWORD=Leonidos67rus
DASHA_PASSWORD=0409
CLIENT_URL=http://localhost:5173
START_DATE=2026-05-25
UNLOCK_ALL_DAYS=true


# PORT=3001
# MONGODB_URI=mongodb+srv://wotbmadgamesexe_db_user:XExXtlv9Mq5yg4ho@cluster0.rqhvhge.mongodb.net/
# JWT_SECRET=1kzBgYzI06xjdLSKPAxUKyra57TPfS5siTYnAnlDrKX
# ADMIN_PASSWORD=Leonidos67rus
# DASHA_PASSWORD=0409
# CLIENT_URL=https://dasha-kotik.vercel.app
# API_PUBLIC_URL=https://dasha-kotik-api.onrender.com
# START_DATE=2026-05-25
# UNLOCK_ALL_DAYS=false
# NODE_ENV=production
