NODE_ENV=production
MONGODB_URI=mongodb+srv://wotbmadgamesexe_db_user:XExXtlv9Mq5yg4ho@cluster0.rqhvhge.mongodb.net/
JWT_SECRET=1kzBgYzI06xjdLSKPAxUKyra57TPfS5siTYnAnlDlKX
ADMIN_PASSWORD=Leonidos67rus
TEST_PASSWORD=Leonidos67rus
DASHA_PASSWORD=0409
CLIENT_URL=https://dasha-kotik.vercel.app
API_PUBLIC_URL=https://dasha-kotik-api.onrender.com
START_DATE=2026-05-25
APP_TIMEZONE=Europe/Moscow
UNLOCK_ALL_DAYS=false
